/* CSS Document */
/* Michael Kasper 2019 */
* {
	border: dotted 1px red; 
}

main {
	width: 1920px;
}

nav ul {
	float: right; 
}

nav ul li {
	display: inline; 
	padding: 20px;
	padding-top: 25px; 
	font-size: 30px; 
}

nav ul li a, nav ul li a:visited {
	text-decoration: none; 
	
}
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#most-recent-list-img {
	
}

#most-recent-list-img img {
	height: 200px; 
	padding: 15px; 
}
